@using VIATECH.Service
@*@using VIATECH.Domain.Entities
@model Order*@

<div id="footer-wrapper">
	<div id="footer" class="container">
		<header class="major">
			<h2>Links</h2>
		</header>
		<div class="row">
			<section class="col-6 col-12-narrower">
				<img src="~/images/man.png" width="320" height="320"> 
			</section>
			<section class="col-6 col-12-narrower">
				<div class="row gtr-0">
					<ul class="divided icons col-6 col-12-mobile">
						<li><a href="https://github.com/viaside"><span class="extra">github.com/viaside</a></li>
						<li><a>@Config.CompanyEmail</a></li>
					</ul>
					<ul class="divided icons col-6 col-12-mobile">
						<li><a href="https://t.me/viaside"><span class="extra">t.me/viaside</a></li>
						<li><a>@Config.CompanyPhone</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div id="copyright" class="container">
		<ul class="menu">
			<li>&copy; @Config.CompanyName. All rights reserved.</li><li>Design: <a href="">NotB0</a></li>
		</ul>
	</div>
</div>
