@using VIATECH.Service
<div id="header-wrapper">
	<div id="header" class="container">
		<!-- Logo -->
			<h1 id="logo"><a href="/">@Config.CompanyName</a></h1>

		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Main</a></li>
					<li class="break"><a asp-area="" asp-controller="serviceitems" asp-action="Index">Services</a></li>
				</ul>
			</nav>
	</div>
</div>