<div class="col-8 col-12-narrower">
	<article id="content">
		<header>
			<h2>Information about me</h2>
		</header>
		<p>
			Let's start with how my name is, my name is Ivan Voloshin or Viaside. 
			I want to become a good programmer, and because of this I decided to create a 
			website that talks about my skills and about the projects I have created.
			And here are links to my github repositories.
			And on this site you can also offer me an idea for creating a new project.
			Or ask me a question.
		</p>
		<p>
			Let me tell you about my first project. I decided to create applications using windows forms, 
			and connect my database to it. I decided to choose a social network theme for my application, 
			and called it LavApp. You can register in it by entering your name, return, gender and password, 
			then enter your profile, view all information about yourself, as well as your likes. 
			The main window of the application displays other users that you can like. 
			There is also an administrator menu (to enter, you need to enter the password "Admin"), 
			in it you can make changes to the user data. All data is stored in a database.
			This password is stored in another database. In this application, I used the database "PostgreSQL"
		</p>
		<p>	
			I decided to create my own calculator using c# and windows forms.
			This calculator enters numbers and functions using buttons that are processed and calls a 
			separate class that processes the values ​​and outputs them to a windows form
		</p>
		<p>
			Created applications for working with the "EKVI-edit" database. It allows you to Add, modify, 
			delete and search for data in the database. To do this, you need to enter a password that can be changed
			if necessary. This password saved in other database.This password is stored in another database. In this application, 
			I used the database "PostgreSQL".
		</p>
	</article>

</div>

<div class="col-4 col-12-narrower">
	<div class="col-4 col-12-narrower">
	<section id="sidebar">
		<section>
			<header>
				<h3>My GitHub</h3>
			</header>
			<p>Here are all the repositories with my projects.</p>
			<ul class="actions">
				<li><a href="https://github.com/viaside?tab=repositories" target="_blank" class="button"> Watch GitHub Repositories</a></li>
			</ul>
		</section>
		<section>
			<a href="#" class="image featured"><img src="images/LovApp.png" alt=""></a>
			<header>
				<h3>My First project</h3>
			</header>
			<p>Application with DataBase. LovApp.</p>
			<ul class="actions">
				<li><a href="https://github.com/viaside/lovapp-with-DataBase" target="_blank" class="button">Watch the project</a></li>
			</ul>
		</section>
	</section>
	</div>	
</div>

<div class="row features">
	<section class="col-4 col-12-narrower feature">
		<div class="image-wrapper first">
			<a href="#" class="image featured"><img src="images/Calc.png" alt=""></a>
		</div>
		<header>
			<h3>Calculator</h3>
		</header>
		<p>Calclurator C# and win forms.</p>
		<ul class="actions">
			<li><a href="https://github.com/viaside/calculator" target="_blank" class="button">Watch the project</a></li>
		</ul>
	</section>
	<section class="col-4 col-12-narrower feature">
		<div class="image-wrapper">
			<a href="#" class="image featured"><img src="images/EKVI-redact.png" alt=""></a>
		</div>
		<header>
			<h3>EKVI-redact</h3>
		</header>
		<p>Application for redact database.</p>
		<ul class="actions">
			<li><a href="https://github.com/viaside/EKVI-redact" target="_blank" class="button">Watch the project</a></li>
		</ul>
	</section>
	<section class="col-4 col-12-narrower feature">
		<div class="image-wrapper">
			<a href="#" class="image featured"><img src="images/web-site.png" alt=""></a>
		</div>
		<header>
			<h3>This web-site</h3>
		</header>
		<p>Web-site ASP.NET</p>
		<ul class="actions">
			<li><a href="https://github.com/viaside/" target="_blank" class="button">Watch the project</a></li>
		</ul>
	</section>
</div>
